composer.lock
vendor/
web/sites/
web/modules/contrib/
themes/contrib/
web/core/
web/web.config
web/update.php
web/themes/README.txt
web/robots.txt
web/README.md
web/profiles/README.txt
web/modules/README.txt
web/INSTALL.txt
web/index.php
web/example.gitignore
web/autoload.php
web/.htaccess
web/.ht.router.php
web/.eslintrc.json
web/.eslintignore
web/.csslintrc
.gitattributes
.editorconfig
