// Sub theme styling.
@import 'variables_drupal';

// Bootstrap override variables.
// @see https://getbootstrap.com/docs/5.3/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

.site-logo > img {
  width: 150px;
  height: 150px;
}

.view-search-content [id^="edit-submit-search-content"] {
  display: none !important;
}
