// Sub theme styling.
@import 'variables_drupal';

// Bootstrap override variables.
// @see https://getbootstrap.com/docs/5.3/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

.site-logo > img {
  width: 150px;
  height: 150px;
}

.count-circle {
  display: inline-block;
  width: 20px; /* Điều chỉnh kích thước vòng tròn */
  height: 20px; /* Điều chỉnh kích thước vòng tròn */
  line-height: 20px; /* Đảm bảo số lượng nằm giữa vòng tròn */
  text-align: center;
  border-radius: 50%; /* Tạo hình tròn */
  background-color: #f0f0f0; /* Màu nền của vòng tròn */
  color: #333; /* Màu của số lượng */
  font-weight: bold; /* Đậm chữ */
}
